*{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 20px;
}

h2, 
h4{
   padding: 10px 0; 
}

/* ---------------header section-----------------*/
header{
    position: fixed;
    height: 3.5rem;
    width: 100%;
    top:0;
    z-index: 1;
    border-bottom: 1px solid seashell;
}


.logo{
    float: left;
    height: 2.5rem;
    margin-left: 10px;
    margin-top: 10px;
}

nav{
    display: flex;
    height: 3.5rem;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    display: inline;
    list-style: none;
    padding-right: 20px;
}



/*------------banner section--------------*/
.site-banner{
    display: flex;
    max-width: 60rem;
    height: 35rem;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 2.5rem;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*14hpi4q*_ga*MTE2MTA4Nzg0OC4xNjUzMzY4NjA1*_ga_3LRZM6TM9L*MTY1NTI3NzY2MC42NC4xLjE2NTUyNzc2NzYuNDQ.");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.site-banner .container{
    background-color: #000;
    width: 100%;
}




/*------------site main session-----------*/
.site-main-session{
    display: block;
    margin-top: 2.5rem; 
}

.site-main-tea-container{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-content: space-between;
    justify-content: center;
    margin: 0 auto;
}

.box-img{
    width:300px;
    height: 200px;
}

.box-img-middle{
    margin: 0px 50px;
}

.box-img-bottom{
    margin: 0 25px;
}




/*-------------location area---------------*/
.location{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 1200px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1adczn0*_ga*MTE2MTA4Nzg0OC4xNjUzMzY4NjA1*_ga_3LRZM6TM9L*MTY1NTI2ODQyOC42My4xLjE2NTUyNjg0ODQuNA..");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.location-title{
    background-color: transparent;
    position: absolute;
    top: 50px;
}
.location-title h2{
    background-color: transparent;
    padding: 0;
    margin: 0;
}


.location-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-box{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
    background-color: #000;
    opacity: 1;
}

.location-box-middle{
    margin: 0 40px;
}


/*-------------footer---------------*/
footer{
    margin: 20px 0px;
}

.about h5{
    padding-top: 40px;
}

.copyright{
    text-align: left;
    margin-left: 20px;

}

@media only screen and (max-width: 1200px){
    
}

@media only screen and (max-width: 1000px),(orientation: portrait){
    .location{
        width: 100%;
        min-height: 1200px;
        overflow: hidden;
        
    }
    .location-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .location-box-middle{
        margin: 10% 0;
    }

    .box-img-middle,
    .box-img-bottom{
        margin: 0;
    }
    .site-main-tea-container{
        width: 50%;
        overflow: hidden;
    }
    .box-img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .site-main-session h4{
        margin-bottom: 1.5%;
    }
    
}


@media only screen and (max-width: 920px){
    .site-banner{
        font-size: 17px;
    }
    
}

@media only screen and (max-width: 560px){
    .site-banner{
        font-size:16px;  
    }
    .location{
        font-size: 16px;
    }
    .site-header-nav{
        display: none;
    }
    
}